@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<p>Telefoonnummer: 057382638726</p>
<p>Emailadres: info@fysioavans.nl</p>
<p>Adres: Lovensdijkstraat 61, 4818 AJ, Breda</p>
<p>Provincie: Noord-Brabant</p>
